// placeholder文字颜色
@mixin placeholderCol($property, $col) {
  #{$property}::-webkit-input-placeholder, /* WebKit browsers */
  #{$property}:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
  #{$property}::-moz-placeholder, /* Mozilla Firefox 19+ */
  #{$property}:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $col;
  }
}

// 媒体查询
@mixin responsive($min: 0, $max: 0) {
  @if $max != 0 and $min != 0 {
    @media screen and (max-width: $max) and (min-width: $min) { @content; }
  } @else if $min == 0 {
    @media screen and (max-width: $max) { @content; }
  } @else if $max == 0 {
    @media screen and (min-width: $min) { @content; }
  }
}

//当显示的像素比率是正常密度的至少1.5倍,调用2X的图片
@mixin retinize($file, $type, $width: 0, $height: 0) {
  @if $width != 0 and $height != 0 {
    background-size: $width $height;
  }
  background: {
    image: url('image/' + $file + '.' + $type);
    repeat: no-repeat;
  }
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx) {
    & {
      background-image: url('image/' + $file + '@2x.' + $type);
    }
  }
}

// 清除浮动
@mixin clear-fix() {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

// 超过文本长度显示...
@mixin ell() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin spinner() {
  &:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    transform-origin: 50%;
    animation: spinner 1s step-end infinite;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    8.33333333% {
      transform: rotate(30deg);
    }
    16.66666667% {
      transform: rotate(60deg);
    }
    25% {
      transform: rotate(90deg);
    }
    33.33333333% {
      transform: rotate(120deg);
    }
    41.66666667% {
      transform: rotate(150deg);
    }
    50% {
      transform: rotate(180deg);
    }
    58.33333333% {
      transform: rotate(210deg);
    }
    66.66666667% {
      transform: rotate(240deg);
    }
    75% {
      transform: rotate(270deg);
    }
    83.33333333% {
      transform: rotate(300deg);
    }
    91.66666667% {
      transform: rotate(330deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
