@charset "UTF-8";

.footer {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  border: 1px solid #666;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  &:hover {
  	color: #888;
  }
}